.abs-class {
  position: absolute;
  background: #ccc;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: 1;
}

.dialog-discount {
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 6%;
  margin: 0 auto;
  z-index: 2;
  padding: 30px 50px;
  left: 25%;
  right: 25%;
}

.z-index-0 {
  z-index: 0 !important;
}

.fix-date {
  width: 300px;
}

.label-date {
  width: 130px;
}